<p>Dear {$client_name},</p>
<p>Your account has been successfully created, and you have access to our control panel.</p>
<p>Please log in using the following link: <a href="{$login_url}/login" target="_blank">Access our control panel</a></p>
<p>Use the credentials below for access:<br>Email: {$user_email}<br>Password: {$user_password}</p>
<p>For security reasons, we strongly recommend that you change your password upon your first login.</p>
<p>If you need any further assistance, please contact our support team.</p>
<p>{$signature}</p>