<p>Dear {$client_name},</p>
<p>Thank you for your order from us! Your hosting account has been setup and you can now proceed with managing it
  through our control panel.</p>
<p><strong>Access our control panel:</strong> <a
  href="{$whmcs_url}clientarea.php?action=productdetails&sso=yes&id={$service_id}"
  target="_blank">{$whmcs_url}clientarea.php?action=productdetails&sso=yes&id={$service_id}</a>
</p>
<p>You will also find a login link to the panel in our client area at: <a
  href="{$whmcs_url}clientarea.php?action=productdetails&id={$service_id}" target="_blank">{$whmcs_url}clientarea.php?action=productdetails&id={$service_id}</a>
</p>
<p>If you need any further assistance, please contact our support team.</p>
<p>{$signature}</p>